<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin-Panel</title>
</head>
<body>
    <header>
        <nav>
         <ul>
             <li><a href="/">Home</a></li>
             <li><a href="">Add Product</a></li>
         </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="/admin/add-product">
          <input type="text" name="title"> 
           <button type="submit">Add Product</button>

        </form>          
    </main>
    <footer>
       <p>Made with love</p>
    </footer>
    
</body>
</html>